

@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);









/* Sections */



.section h1, .section h2, .section h3 {
  color: #395B74;
  position: absolute;
  bottom: 5em;
  padding-right: 1em;
  float: right;
  right: 1px;
}

.section {
  background-color: #FFFFFF;
}



/* Title slide */



.title-slide, .title-slide h1 {
  color: #F7BC08;
  margin-top: +300px;
}


.title-slide, .title-slide h2 {
  color: #F7BC08;
  line-height: 1em;
}

.title-slide, .title-slide h3 {
  color: #F7BC08;
}

.title-slide {
  background-color: #FFFFFF;
  background-image: url(img/dd-169-background.png);
  background-size: cover;
  
}
.title-slide .remark-slide-number {
  display: none;
}









/* Slides */

body {
  font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;
  font-weight: normal;
  color: #000;
}


.remark-slide-content {
  background-color: #FFF;
  font-size: 18px;
  padding: 1em 1em 1em 1em;
}
.remark-slide-content h1 {
    font-size: 60px;
}
.remark-slide-content h2 {
    font-size: 40px;
}
.remark-slide-content h3 {
    font-size: 30px;
}


h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
  color: #395B74;
}


.footnote {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 50%;
}


/* Code Formatting */


a, a > code {
  color: rgb(249, 38, 114);
  text-decoration: none;
}


.remark-code-line-highlighted     { background-color: #ffff88; }








/*INVERSE Slides */

.inverse h1, .inverse h2, .inverse h3 {
  color: #F7BC08;
}

.inverse {
  background-color: #395B74;
  color: #F7BC08;
  text-shadow: 0 0 20px #333;
}






/* Two-column layout */

.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}
.pull-right ~ * {
  clear: both;
}



/* Media */



img, video, iframe {
  max-width: 100%;
}
blockquote {
  border-left: solid 5px lightgray;
  padding-left: 1em;
}


/* Tables */

.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }


.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #eee }

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/* Logo */


.my-logo-left {
content: "";
    position: absolute;
    top: 15px;
    left:   20px;
    height: 40px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/dd-169-background.png);
}

.my-logo-right {
content: "";
    position: absolute;
    top: 15px;
    right:   8px;
    height: 40px;
    width: 120px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(img/dd-169-background.png);
}




/* Color definitions */


.strong{color:#395B74;}


.grey {
  color: #5E6974;
}  

.blue {
  color: #395B74;
}

.small {
  font-size: 75%;
}

.large {
  font-size: 150%;
}

.xlarge {
  font-size: 200%;
}



