.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
dummy*
temp*
tmp*
Untitled*
data/


*slidedeck.pdf
*Rpackages.bib
*.rds
*.Rdata
*.icloud
.quarto


*_cache
*_cache/
*.Rproj
*.zip


public/
.hugo_build.lock








