

.center2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.center-left {
  position:          relative;
  top:               50%;
  transform:         translateY(50%);
}
.center-right {
  position:          relative;
  top:               50%;
  transform:         translateY(50%);
}



.small {
  font-size: small;
}


.tiny {
  font-size: x-small;
}

.xsmall{
	font-size: x-small;
}


.xxsmall{
	font-size: xx-small;
}


.footnote2 {
  position: absolute;
  bottom: 3em;
  padding-right: 4em;
  font-size: 50%;
}

